* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}
.container {
  width: 100%;
}

.header {
  background-color: #f7e7f0;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
}

.navbar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px 20px 0px;
}

.navbar-menu {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Federo', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.navbar-language {
  display: flex;
  flex-direction: row;
  font-family: 'Federo', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.background-imgs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.background-img {
  width: 33%;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 8vh;
}

.aboutme-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.8vh;
  font-family: 'Federo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(24px + 30 * (100vw / 1600));
  line-height: 75px;
}

.aboutMe-line {
  width: 47.6vw;
  height: 2px;
  border: none;
  background-color: #000000;
  margin-bottom: 7.5vh;
}

.aboutMe-box {
  width: 90vw;
  background-color: #f7e7f0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.aboutMe-img {
  width: 29vw;
  margin: 100px 4vw;
}

.aboutMe-textBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 4vw;
  margin-bottom: 80px;
  width: 45vw;
}

.upperLine {
  height: 1px;
  background-color: #62155c;
}

.aboutMe-text {
  font-family: 'Kufam', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + 16 * (100vw / 1600));
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
}

.downline {
  background-color: #62155c;
  height: 1px;
}

.gallery {
  margin: 0 3vw 0 3vw;
}

.gallery-img {
  height: auto;
  margin: 1vw 0 1vw 0;
  max-width: 60%;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: calc(24px + 30 * (100vw / 1600));
  line-height: 75px;
  text-align: center;
  font-family: 'Federo', sans-serif;
  margin-bottom: 1.8vh;
}

.gallery-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery-row-tight {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.under-title-bar {
  width: 47.6vw;
  background-color: black;
  height: 1px;
  border: none;
  margin: 0 auto;
  margin-bottom: 7.5vh;
}

.gallery-row-tight {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  font-size: calc(16px + 12 * (100vw / 1600));
  margin: auto;
}

.RuEn {
  text-decoration: none;
  color: black;
  font-size: calc(20px + 16 * (100vw / 1600));
  margin: auto;
}

.footer {
  background-color: #f7e7f0;
  width: 100%;
}

.navbar-contact > a > img {
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.navbar-contact > a {
  display: flex;
  margin: 0;
}
.navbar-box-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-contacts {
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.navbar-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-menu-bottom {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Federo', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.navbar-logo {
  margin-top: 5vh;
}

.contact-text {
  font-family: 'Federo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + 10 * (100vw / 1600));
  line-height: 42px;
}

@media only screen and (max-device-width: 1568px) {
  .right-header {
    display: none;
  }

  .background-imgs {
    justify-content: space-around;
  }
}

@media only screen and (max-device-width: 1400px) {
  .unic-img {
    display: none;
  }
}

@media only screen and (max-device-width: 1062px) {
  .left-header {
    display: none;
  }
  .navbar-language {
    display: none;
  }
}

@media only screen and (max-device-width: 1011px) {
  .navbar-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-menu {
    width: 70vw;
  }

  .gallery {
    margin: 0;
  }

  .aboutMe-box {
    flex-direction: column;
    align-items: center;
  }

  .aboutMe-img {
    width: 29vw;
    margin: 0px 4vw;
    margin-top: 40px;
  }

  .gallery-row {
    margin-bottom: 0;
  }

  .aboutMe-textBox {
    width: 70vw;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-menu-bottom {
    justify-content: space-between;
  }

  .aboutMe-img {
    width: 70vw;
  }
}

@media only screen and (max-device-width: 757px) {
  .navbar-menu-bottom {
    display: none;
  }

  .aboutMe-text {
    font-size: calc(14px + (16 + 0, 7 * 16) * ((100vw - 320px) / 1600));
  }

  .aboutme-title {
    font-size: calc(24px + (30 + 0, 7 * 30) * ((100vw - 320px) / 1600));
  }

  .title {
    font-size: calc(24px + (30 + 0, 7 * 30) * ((100vw - 320px) / 1600));
  }

  .gallery-img {
    height: auto;
    width: 100%;
    max-width: 90%;
    margin: 2vw 10vw 2vw 10vw;
  }

  .navbar-menu {
    width: 100vw;
  }

  .mid-header {
    width: 100vw;
  }

  a {
    font-size: calc(16px + (12 + 12 * 0.7) * ((100vw - 320px) / 1600));
    margin: auto;
  }

  .RuEn {
    font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1600));
  }

  .contact-text {
    font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1600));
  }
  .navbar-logo-top {
    margin-bottom: 10px;
  }
}
